doctype html
html
  head
    link(href='/reset.styl', rel='stylesheet')
    link(href='@styles/main.styl', rel='stylesheet')

    script(src='@lib/waff-query')
  body
    script(src='@scripts/site.js')
