global-reset()

// fix margin top
body
  overflow auto

// fix canvas sizes
canvas
  display block

// fix chrome images in flexbox
div
  align-items flex-start

// fix sizing
*
::before
::after
  box-sizing border-box

// remove chrome outline
:focus
  outline 0
