{{#*inline "idocs"}}

<a id="{{{anchorName}}}"></a>
{{>heading-indent}}{{>sig-name}}
{{>body}}
{{>member-index~}}
{{>separator~}}

{{#children inherited=undefined ~}}
{{>idocs}}
{{/children~}}
{{/inline}}

{{#orphans~}}
{{>idocs}}
{{/orphans~}}
